<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">RPS: Chuck Up the Deuce Edition</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="sign_up">Sign Up</a></li>
          <li><a href="sign_in">Sign In</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>