<p>Make Your Move</p>
<form method="post" action="/made_move">
  <input type="radio" value="rock" name="choice"> Rock<br>
  <input type="radio" value="paper" name="choice"> Paper<br>
  <input type="radio" value="scissors" name="choice"> Scissors<br>
  <input type="submit" class="small button" value="Submit"></input>
</form>