<center><h3>Contact Information</h3></center>
<br><br>

<div class="row">
 <div class="small-11 medium-10 large-9 small-centered medium-centered large-centered columns">
     <form method="post" action="mailto:realquickrealeffinquick@hardinthepaint.com?subject=RPS%3A%20Chunk%20up%20the%20deuce%20edition!">
       <h6><span class="inputbox email-builder">Your name:</span><input class="email-builder" type="text" name="name"/></h6>
       <h6><span class="inputbox email-builder">Your email:</span><input class="email-builder" type="text" name="email"/></h6>
       <h6><span id="mess" class="inputbox email-builder">Your message:</span><input class="email-builder" type="text" name="body"/></h6>
       <!-- <input type="submit" class="small button"></input> -->
     </form>
 </div>

 <div class="small-11 medium-10 large-9 small-centered medium-centered large-centered columns"><a class="send-feedback-email" href="mailto:realquickrealeffinquick@hardinthepaint.com?subject=RPS%3A%20Chunk%20up%20the%20deuce%20edition!">Mail Us</a></div>
</div>

