
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.background {
  background: rgba(114, 214, 251, 0.7);
}

.gamebox {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  margin-top: 5%;
  border-radius: 1rem;
}

.columns * {
  font-family: 'Gloria Hallelujah';
}

* {
  font-family: 'Gloria Hallelujah';
}

.submit {
  float: right;
}
/*form .inputbox {
  display: inline-block;
  float: left;
}

form input {
  display: inline-block;
  float: right;
}
*/